__pycache__/
*.py[cod]
file_io_assignments/even_numbers.txt
file_io_assignments/odd_numbers.txt
file_io_assignments/squares.txt
file_io_assignments/cubes.txt
file_io_assignments/sorted_numbers.txt
file_io_assignments/uppercase.txt
file_io_assignments/unique_lines.txt
file_io_assignments/processing_sample.txt
file_io_assignments/processing_numbers.txt
file_io_assignments/sample.txt
file_io_assignments/person.txt
file_io_assignments/students.txt
file_io_assignments/students.csv
file_io_assignments/students.json
file_io_assignments/employees.json
file_io_assignments/products.json
file_io_assignments/managed_file.txt
file_io_assignments/managed_copy.txt
file_io_assignments/renamed_file.txt
